.isNumber {
    text-align:right;
    font-family: lekton, monospace;
}
.account-type {
  position: relative;
  display: inline-block;
  line-height: 1;
  background-size:75%;
  background-repeat:no-repeat;
  margin-right: 5px;
  margin-left: 7px;
  vertical-align: middle;
  
}
a{
    color:black;
}
.panel-tight{
    margin-right:-10px;
    margin-left:-10px;
}
.panel-theme {
  border-color: #d6e9c6;
}
.panel-theme > .panel-body {
    padding:0px;
}
.panel-theme > .panel-heading {
  color:  #ffffff;
  background-color: #74cfae;
  border-color: #d6e9c6;
}
.retirement {
   background-image:url(../img/glyphicons_070_umbrella.png);
   width:20px;
   height:21px;
     position: relative;
  display: inline-block;
}
 
.credit,  .debit {
    background-image:url(../img/glyphicons_267_credit_card.png);
    width:20px;
    height:15px;
}
.checking {
   background-image:url(../img/glyphicons_227_usd.png);
    width:12px;
    height:14px;
}
.mortgage {
   background-image:url(../img/glyphicons_020_home.png);
   /*background-image:url(../img/glyphicons_267_credit_card.png);*/
    width:21px;
    height:20px;
}
.investment {
   background-image:url(../img/glyphicons_040_stats.png);
   /*background-image:url(../img/glyphicons_267_credit_card.png);*/
    width:21px;
    height:20px;
}
.savings {
   background-image:url(../img/glyphicons_443_floppy_disk.png);
   width:17px;
   height:17px;
}
 