body{
    margin-top: 0;
}
.isNumber {
    text-align:right;
    font-family: lekton, monospace;
}
a{
    color:black;
}
.panel-tight{
    margin-right:-10px;
    margin-left:-10px;
}
.panel-theme {
  border-color: #d6e9c6;
}
.panel-theme > .panel-body {
    padding:0;
}
.panel-theme > .panel-heading {
  color:  #ffffff;
  background-color: #74cfae;
  border-color: #d6e9c6;
}
.panel-theme > .panel-heading  > .badge{
    background-color:white;
    color:#555;
    padding-left:10px;
    padding-right:10px;
    margin-left:10px;
}
 