<!DOCTYPE html>
<html ng-app="barsOfGold">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Money</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="//use.edgefonts.net/lekton;m-1m.js"></script>
    <link rel="stylesheet" href="/app/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/app/lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/app/css/bolt-theme/css/main.css">
    
    <style>
      body {
        /*padding-top: 60px;*/
      }
    </style>
    <link rel="stylesheet" href="/app/css/main.css">
  </head>
  <body ng-controller="MainController">
    <div class="container" style="width:100%">
        <div class="row">
            <a href="#/transaction/add" id="addTransaction" class="btn btn-sm btn-primary">Add Transaction</a>
        </div>
        <div class="row">
            <div class="col-md-7">
                <div class="row panel panel-theme panel-tight" ng-controller='AccountController'>
                    <div class="panel-heading">Accounts <span class="badge">{{accounts.length}}</span></div>
                    <div class="panel-body" data-spy="scroll" style="height: 600px;overflow:auto;" >
                        <table class="table table-striped table-condensed" >
                            <thead>
                                <tr>
                                    <td>&nbsp;</td> 
                                    <td>Name</td>
                                    <!--<td class="hidden-xs hidden-sm">Type</td>-->
                                    <td class="isNumber">Balance</td>
                                    <td class="isNumber hidden-xs hidden-sm">Confirmed</td>
                                    <td class="isNumber">Remaining</td>
                                </tr>
                            </thead>
                            <tbody ng-repeat="a in accounts" id="accounts">
                                <tr>
                                    <td><a class="btn btn-xs btn-theme account" ng-click="viewAccount(a._id)">
                                    <!--<i class="glyphicon glyphicon-edit"></i>-->
                                          <i class="fa" ng-class="{
                                            'fa-credit-card':(a._type=='credit'),
                                            'fa-money':(a._type=='checking'),
                                            'fa-home':(a._type=='mortgage'),
                                            'fa-briefcase':(a._type=='investment'),
                                            'fa-umbrella':(a._type=='retirement'),
                                            'fa-floppy-o': (a._type=='savings')}" title="{{a._type}}"></i>
                                        
                                    </a></td>
                                    <td><a  href="#/account" class="account" id="{{a.id}}">{{a.name}}</a>
                                        <!--<span class="account-type {{a._type}}" title="{{a._type}}"></span>-->
                                      
                                        <a href="{{a.link}}" target="_blank" class="non-button"><i class="fa fa-external-link"></i></a>
                                    </td>
                                    <td class="isNumber">{{a.balance | number:2}}</td>
                                    <td class="isNumber hidden-xs hidden-sm">{{a.confirmed | number:2}}</td>
                                    <td class="isNumber">{{remaining(a) | number:2}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div> <!-- / panel-body -->
                </div><!-- / panel -->
            </div>
            <div class="col-md-5" style="padding-right:0" >
                <div class="panel panel-theme  panel-tight" ng-controller='TransactionController' >
                    <div class="panel-heading" id="transactionHeader">Transactions <span class="badge">{{transactions.length}}</span></div>
                    <div class="panel-body" id="trantable"  data-spy="scroll" style="height: 600px;overflow:auto;">
                        <table class="table table-striped table-condensed"  >
                            <thead>
                                <tr>
                                    <td>&nbsp;</td> 
                                    <td>Date</td>
                                    <td>Type</td>
                                    <td class="isNumber">Amount</td>
                                    <td>Status</td>
                                    <td>Note</td>
                                </tr>
                            </thead>
                            <tbody ng-repeat="t in transactions" id="transactions">
                                <tr>
                                    <td><a class="btn btn-xs btn-theme"  href="#/trans/{{t._id}}"><i class="glyphicon glyphicon-edit"></i></a></td>
                                    <td>{{t.date | date:'yyyy-MM-dd'}}</td>
                                    <td>{{t._type}}</td>
                                    <td class="isNumber">{{t.value | number:2}}</td>
                                    <td style="text-align:center"><input type="checkbox" class="toggleConfirm" name="confirm{{t._id}}" id="confirm{{t._id}}" value="true" /></td>
                                    <td style="max-width:200px">{{t.note}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div> <!-- / panel-body -->
                </div><!-- / panel -->
            </div><!-- /col -->
        </div>
    </div>
    
    
    
   
    <!--[if lt IE 9]>
    <script src="/app/lib/es5-shim/es5-shim.js"></script>
    <script src="/app/lib/es5-shim/es5-sham.js"></script>
    <![endif]-->
    <!--<script src="/app/lib/jquery/dist/jquery.js"></script>-->
    <!--<script src="/app/bower_components/requirejs/require.js" data-main="js/main.js"></script>-->
    
    <script src="/socket.io/socket.io.js"></script>
    <script src="/app/lib/jquery/dist/jquery.js"></script>
    <script src="/app/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/lib/angular/lib/angular.min.js"></script>
    <script src="/app/js/app.js"></script>
    <script src="/app/js/services/accountService.js"></script>
    <script src="/app/js/services/transactionService.js"></script>
    <script src="/app/js/controllers/mainController.js"></script>
    <script src="/app/js/controllers/accountController.js"></script>
    <script src="/app/js/controllers/transactionController.js"></script>
    </body>
</html>
