{{#accounts}}
<tr>
    <td><a class="btn btn-xs btn-theme"  href="#/account/{{id}}"><i class="glyphicon glyphicon-edit"></i></a></td>
    <td><a class="account" href="#/account">{{name}}</a><a href="{{link}}" target="_blank"><i class="glyphicon glyphicon-export"></i></a></td>
    <td>{{type}}</td>
    <td class="isNumber"d>{{balance}}</td>
    <td class="isNumber"d>{{confirmed}}</td>
    <td class="isNumber"d>{{remaining}}</td>
</tr>
{{/accounts}}