    <td><a class="btn btn-xs btn-theme account" href="#/account/{{id}}" id="{{id}}"><i class="glyphicon glyphicon-edit"></i></a></td>
    <td><a  href="#/account" class="account" id="{{id}}">{{name}}</a><span class="account-type {{type}}" title="{{type}}"></span><a href="{{link}}" target="_blank" class="non-button"><i class="glyphicon glyphicon-export"></i></a></td>
    <td class="isNumber">{{balance}}</td>
    <td class="isNumber hidden-xs hidden-sm">{{confirmed}}</td>
    <td class="isNumber">{{remaining}}</td>
