{{#accounts}}<div class="card row"><div class="col-sm-3 title"><a href="#" class="account" id="{{id}}">{{name}}</a><br />
            <span class="author">{{type}}</span></div>
        <div class="col-sm-1"><a href="{{link}}" target="_blank">go</a></div>
        <div class="col-sm-4">{{balance}}</div>
        <div class="col-sm-4">{{confirmed}}<br />
        <span class="author">{{remaining}}</span></div>
        </div>{{/accounts}}