{{#transactions}}
<tr>
    <td><a class="btn btn-xs btn-theme"  href="#/trans/{{id}}"><i class="glyphicon glyphicon-edit"></i></a></td>
    <td>{{date}}</td>
    <td>{{type}}</td>
    <td class="isNumber"d>{{value}}</td>
    <td><input type="checkbox" class="toggleConfirm" name="confirm{{id}}" id="confirm{{id}}" value="true" /></td>
    <td style="max-width:200px">{{note}}</td>
</tr>
{{/transactions}}
    